/**
 * Overrides
 */
.btn {
  border-radius: 0;
}
/**
 * Navbar styling
 */
body {
  padding-top: 50px;
}
.navbar {
  margin-bottom: 0;
  box-shadow: 0 3px 10px #000;
}
.navbar .navbar-brand {
  padding: 7px;
  padding-right: 14px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar .navbar-brand img {
  max-height: 38px;
}
.navbar .navbar-nav > li > a {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar .navbar-nav > li > a:hover {
  background-color: #eee;
}
.navbar .navbar-nav > li.current > a {
  color: green;
}
/**
 * Header styling
 */
header.jumbotron {
  padding: 150px 0;
  background-color: #555;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('../img/header.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header.jumbotron h1 {
  color: white;
}
header.jumbotron a {
  color: white;
}
/**
 * Featured Projects styling
 */
.project-cell {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .project-cell {
    padding-top: 10px;
  }
}
.project-height-1 {
  display: table;
  height: 250px;
  width: 100%;
  padding-bottom: 12px;
  padding-left: 26px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.project-height-1:hover {
  transform: scale(1.03);
}
.project-height-2 {
  display: table;
  height: 250px;
  width: 100%;
  padding-bottom: 12px;
  padding-left: 26px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.project-height-2:hover {
  transform: scale(1.03);
}
@media (min-width: 768px) {
  .project-height-2 {
    height: 520px;
  }
}
.project-text {
  display: table-cell;
  vertical-align: bottom;
}
/**
 * Mixins for individual project styling
 */
.img-project {
  color: white;
}
.blank-project {
  border: 1px solid black;
}
/**
 * Individual project styling
 */
#project-1 {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/project-1.png');
}
#project-2 {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/project-2.png');
}
#project-3 {
  border: 1px solid black;
}
#project-4 {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/project-4.png');
}
#project-5 {
  border: 1px solid black;
}
#project-6 {
  border: 1px solid black;
}
#project-7 {
  border: 1px solid black;
}
/**
 * Footer Styling
 */
footer.jumbotron {
  margin-bottom: 0;
  padding-top: 70px;
  padding-bottom: 50px;
  background: black;
}
@media (min-width: 768px) {
  footer.jumbotron {
    margin-top: 10px;
  }
}
footer.jumbotron h4 {
  text-transform: uppercase;
  color: white;
}
footer.jumbotron p {
  font-size: 12px;
  color: white;
}
footer.jumbotron li {
  padding-bottom: 4px;
}
footer.jumbotron li > a {
  color: green;
  text-transform: uppercase;
  font-weight: bold;
}
