/**
* General
*/
.btn-square {
  border-radius: 0;
}
.bold-caps {
  font-weight: bold;
  text-transform: uppercase;
}
/**
* Navbar styling
*/
body {
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
}
.navbar {
  margin-bottom: 0;
  box-shadow: 0 3px 10px #000;
}
.navbar .navbar-brand {
  padding: 7px;
  padding-right: 14px;
  color: black;
  letter-spacing: 2px;
}
.navbar .navbar-brand img {
  max-height: 38px;
}
.navbar .navbar-nav > li > a {
  color: black;
}
.navbar .navbar-nav > li > a:hover {
  background-color: #eee;
}
.navbar .navbar-nav > li.current > a {
  color: green;
}
.navbar .navbar-text {
  margin-left: 16px;
}
/**
* Header styling
*/
header.jumbotron {
  padding: 150px 0;
  background-color: #555;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('../img/header.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header.jumbotron h1 {
  color: white;
}
header.jumbotron a {
  color: white;
}
/**
* Nigerian Business styling
*/
.business-spacing {
  margin: 30px auto;
  height: 300px;
}
.business-img-bg {
  background-color: #555;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.business-bg {
  margin: 30px auto;
  height: 300px;
  background-color: #555;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../img/nigerian-business.png');
}
.business-caption {
  margin: 30px auto;
  height: 300px;
  display: table;
  background: #eee;
  padding: 30px;
}
@media (max-width: 768px) {
  .business-caption {
    background-color: #555;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/nigerian-business.png');
    text-align: center;
    color: white;
  }
}
.business-caption > div {
  display: table-cell;
  vertical-align: middle;
}
/**
* Featured Projects styling
*/
.project-cell {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .project-cell {
    padding-top: 10px;
  }
}
.project-height-1 {
  display: table;
  height: 250px;
  width: 100%;
  padding-bottom: 12px;
  padding-left: 26px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.project-height-1:hover {
  transform: scale(1.03);
}
.project-height-2 {
  display: table;
  height: 250px;
  width: 100%;
  padding-bottom: 12px;
  padding-left: 26px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.project-height-2:hover {
  transform: scale(1.03);
}
@media (min-width: 768px) {
  .project-height-2 {
    height: 520px;
  }
}
.project-text {
  display: table-cell;
  vertical-align: bottom;
}
/**
* Mixins for individual project styling
*/
.img-project {
  color: white;
}
.blank-project {
  border: 1px solid black;
}
/**
* Individual project styling
*/
#project-1 {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/project-1.png');
}
#project-2 {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/project-2.png');
}
#project-3 {
  border: 1px solid black;
}
#project-4 {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/project-4.png');
}
#project-5 {
  border: 1px solid black;
}
#project-6 {
  border: 1px solid black;
}
#project-7 {
  border: 1px solid black;
}
/**
* Footer Styling
*/
@media (max-width: 768px) {
  .center-on-mobile {
    text-align: center;
  }
}
footer.jumbotron {
  margin-bottom: 0;
  padding-top: 70px;
  padding-bottom: 50px;
  background: black;
}
@media (min-width: 768px) {
  footer.jumbotron {
    margin-top: 10px;
  }
}
footer.jumbotron h4 {
  color: white;
}
@media (max-width: 768px) {
  footer.jumbotron h4 {
    text-align: center;
  }
}
footer.jumbotron p {
  font-size: 12px;
  color: white;
}
@media (max-width: 768px) {
  footer.jumbotron p {
    text-align: center;
  }
}
footer.jumbotron li {
  padding-bottom: 4px;
}
@media (max-width: 768px) {
  footer.jumbotron li {
    text-align: center;
  }
}
footer.jumbotron li > a {
  color: green;
}
/**
* Raised body
*/
.background {
  background-color: #ccc;
  margin-bottom: -10px;
}
.background .raised {
  margin: 20px auto;
  margin-bottom: 25px;
  background: #fff;
}
@media (min-width: 768px) {
  .background .raised {
    margin: 50px auto;
  }
}
/**
* Dashboard menu
*/
@media (min-width: 768px) {
  .row {
    overflow: hidden;
  }
}
.dashboard-menu {
  background: #eee;
  padding: 0;
  box-shadow: 5px 0px 4px #999;
  border-top: 25px solid #eee;
}
@media (min-width: 768px) {
  .dashboard-menu {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
}
.dashboard-menu img {
  border: 8px solid green;
}
.dashboard-menu h3 {
  text-align: center;
}
.dashboard-menu .nav li:not(.active):after {
  content: "";
  background: #ccc;
  position: absolute;
  top: 0;
  height: 2px;
  left: 5%;
  width: 90%;
}
.dashboard-menu .nav li.active + li:after {
  height: 0;
}
.dashboard-menu .nav li > a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  padding: 30px;
  border-radius: 0;
  transition: all 0.2s ease-in-out;
}
.dashboard-menu .nav li.active > a {
  background: #fff;
  border-radius: 0;
  border-left: 8px solid green;
}
.dashboard-menu .nav li.active > a:hover {
  color: black;
}
@media (max-width: 768px) {
  .dashboard-menu .nav li.last:after {
    height: 0px;
  }
}
.dashboard-menu .nav i.fade-on-hover {
  position: relative;
  opacity: 0;
}
.dashboard-body {
  padding: 10px 25px;
  padding-top: 24px;
}
@media (min-width: 768px) {
  .dashboard-body .search-bar {
    width: auto;
    float: right;
    margin-top: 15px;
  }
}
/**
 * Placeholders
 */
.placeholder {
  background: #888;
  height: 200px;
  margin-bottom: 10px;
}
