.navbar {
    margin-bottom: 0;

    .navbar-brand {
        padding: 6px;
        padding-right: 14px;
        img {
            max-height: 40px;
        }
    }
}

.header {
    padding: 150px 0;
    background-color: #555;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('../img/header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: white;

}
